.c1 {
    float: none;
    margin: 0 auto;
}

.jumbo1 {
    background: url(../img/aboutProfiles/jumbobg.jpg);
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    -o-background-size: auto auto;
    background-size: 100% 200%
}
.cards {
    float: none;
    padding: 1rem;
    max-width: 30rem;
    color: rgb(255, 255, 255);
    background: rgb(154, 178, 198);
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 30rem;
}
.rounded-circle {
    border-radius: 50%;
    width:200px;
    height:200px;
    min-height: auto;
}

.gitflip {
    -webkit-filter: invert(1);
    float: right;
    vertical-align: bottom;
}

.cont {
    background: rgb(255, 255, 255);
    border-bottom: rgb(0, 0, 0) 3px;
    
}
.cont1 {
    background: rgb(255, 255, 255);
   
    
}
.c2 {
    background-color: rgb(154, 178, 197);
    float: left;
    margin-top: 20px;
    margin: 0 auto;
    margin-right: 100px;
    max-width: auto;
    max-height: auto;
}
.c3 {
    background-color: rgb(154, 178, 197);
    float: right;
    margin-top: 20px;
    margin: 0 auto;
}

.toprightimg {
    max-width: auto;
    max-height: auto;
}

.topcards {
    align-self: center;
    padding: 1rem;
    color: rgb(255, 255, 255);
    background: rgb(154, 178, 198);
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100rem;
}


.meetdev {
    text-align: center;
    padding-top: 20px;
}

.r1 {
    padding-right: 100px;
}

  