.c1 {
    margin-top: 50px;
}

.jumbo1 {
    background: url(../img/aboutProfiles/jumbobg.jpg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 200%;
}