#errorHeader{
   margin: auto;
   text-align: center;
   justify-content: center;
   margin-top: 5%;
}
#pageNot{
   font-weight: lighter;
}
#errorMsg{
   margin:auto;
   justify-content: center;
   text-align: center;
   margin-top: 6%;
   background: lightgray;
   width: fit-content;
}
