.welcome {
    background-color: rgb(154, 178, 198);
}
.mfs {
    background: rgb(154, 178, 198);
    color: white;
    text-align: center;
}
.tablehead {
    background: rgb(154, 178, 198);
    color: white;
    text-align: center;
}
.tableOff {
    background: #a8ccff;
    color: black;
    text-align: center;
}
.tableOn {
    background: #a8ccff;
    color: black;
    text-align: center;
}