<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>About Us</title>
  <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon' />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="../resources/css/about.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand"><img src="../resources/img/lumilogo.png" width=75 height=auto></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="team_stats.html">Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About Us</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <li class="nav-item">
          <a class="my-2 my-sm-0" href="stupid.html">Login/Registration</a>
        </li>
      </div>
    </div>
</nav>
      <div class="container-fluid cont1">
        <div class="jumbotron jumbo1 text-center">
            <h1>LUMI by Macrohard</h1>
            <p>"Slogan or Caption here"
            </p>
          </div> 
          <!-- <div class="row justify-content-between"> -->
            <div class="card-deck c1">
              <div class="card topcards text-center">
                <h2>Lumi aims to iLUMInate you...</h2>
                <p>on the best places to ski and snowboard! Using  <br> weather data and our reccomendation algorithm, <br> we give you personalized suggestions on great ski resorts!
                </p>
              </div>
              <div class="card topcards">
                  <h2>We use a variety of APIs including...</h2>
                  <p>News Api - 'description including link' <br> Weather Api - 'description including link' <br> Map Api - 'description including link'</p>
              </div>
            </div>  
            <hr>
          <!-- </div> -->
      </div>
        <div class="container-fluid cont">
            <h3 class="meetdev">Meet the Developers!</h3>  
          
            <div class="card-deck c1">
            <div class="card bg cards">
              <div class="card-body text-center">
                <img class="card-img-top rounded-circle" src="../resources/img/aboutProfiles/rayner.png" alt="Card image">
                <h4>Rayner Aurell Susanto</h4>
                <p class="card-text">I’m an international student from Indonesia that is currently studying in CU Boulder. I enjoy outdoor activities and having fun with friends! I’m focusing on software development but am still open to new ideas.</p>
                <a href="https://www.linkedin.com/in/raynersusanto">
                  <img style="float: left;" src="../resources/img/aboutProfiles/linkedin.png" width="50" height="auto">
                  </a>
                  <a href="https://github.com/raynersusanto0">
                    <img class="gitflip" style="float: right;" src="../resources/img/aboutProfiles/github.png" width="50" height="50">
                    </a>
              </div>
            </div>
            <div class="card bg cards">
              <div class="card-body text-center">
                <img class="card-img-top rounded-circle" src="../resources/img/aboutProfiles/will.png" alt="Card image">
                <h4>Will Ruiz</h4>
                <p class="card-text">Currently a senior at CU Boulder majoring in computer science. Looking to focus on the Cryptocurrency Development field and Aerospace Software Development. I am originally from Connecticut but will be moving to Denver.</p>
                <a href="https://www.linkedin.com/in/will-ruiz-1200/">
                  <img style="float: left;" src="../resources/img/aboutProfiles/linkedin.png" width="50" height="auto">
                  </a>
                  <a href="https://github.com/willyt1200">
                    <img class="gitflip" src="../resources/img/aboutProfiles/github.png" width="50" height="50">
                    </a>
              </div>
            </div>
            <div class="card bg cards">
              <div class="card-body text-center">
                <img class="card-img-top rounded-circle" src="../resources/img/aboutProfiles/freddy.jpeg" alt="Card image">
                <h4>Freddy Perez </h4>
                <p class="card-text">I was born in Puerto Rico and lived in Colorado since I was 5. I love coding and <br> watching football every Saturday. I hope to get my MS in Computer Science. I am also a big fan of legos!</p>
                <a href="https://www.linkedin.com/in/freddy-perez-55172419b/">
                  <img style="float: left;" src="../resources/img/aboutProfiles/linkedin.png" width="50" height="auto">
                  </a>
                  <a href="https://github.com/OptimumRaZe">
                    <img class="gitflip" style="float: right;" src="../resources/img/aboutProfiles/github.png" width="50" height="50">
                    </a>
              </div>
            </div>
          </div>
      </div>
    </div>
      <div class="container-fluid cont">
          <div class="card-deck c1">
            <div class="card bg cards">

                <div class="card-body text-center">
                  <img class="card-img-top rounded-circle" src="../resources/img/aboutProfiles/biswas.jpeg" alt="Card image">
                  <h4>Biswas Gauli</h4>
                  <p class="card-text">I'm a Computer Science major at CU Boulder. <br> I'm from Boulder, Colorado. I also like snow cones.</p>
                  <a href="https://www.linkedin.com/in/biswas-gauli">
                    <img style="float: left;" src="../resources/img/aboutProfiles/linkedin.png" width="50" height="auto">
                    </a>
                    <a href="https://github.com/biga6132">
                      <img class="gitflip" style="float: right;" src="../resources/img/aboutProfiles/github.png" width="50" height="50">
                      </a>
                </div>
              </div>
              <div class="card bg cards">
                  <div class="card-body text-center">
                    <img class="card-img-top rounded-circle" src="../resources/img/aboutProfiles/thor.png" alt="Card image">
                    <h4>Thor Breece</h4>
                    <p class="card-text">I am a computer science student at the university of Colorado Boulder pursuing a career in Artificial Intelligence. I am currently looking for internships. I am from San Fracisco California and love our Bay Area sports teams, Go Warriors!</p>
                    <a href="https://www.linkedin.com/in/thor-breece/">
                    <img style="float: left;" src="../resources/img/aboutProfiles/linkedin.png" width="50" height="auto">
                    </a>
                    <a href="https://github.com/thor-ium">
                      <img class="gitflip" style="float: right;" src="../resources/img/aboutProfiles/github.png" width="50" height="50">
                      </a>
                  </div>
                </div>
                <div class="card bg cards">
                  <div class="card-body text-center">
                    <img class="card-img-top rounded-circle" src="../resources/img/aboutProfiles/altay.png" alt="Card image">
                    <h4>Altay Uenal</h4>
                    <p class="card-text">I am currently a computer science student at the University of Colorado Boulder. I have been interested in computers and coding from a young age thanks to my father exposing me to the field early on.</p>
                    <a href="https://github.com/Altay-Uenal">
                      <img class="gitflip" style="float: right;" src="../resources/img/aboutProfiles/github.png" width="50" height="50">
                      </a>
                      <a href="https://www.linkedin.com/in/altay-uenal-b5b3b521b/">
                        <img style="float: left;" src="../resources/img/aboutProfiles/linkedin.png" width="50" height="auto">
                        </a>
                  </div>
                </div>
          </div>
      </div>


