<!-- Home Page -->
<!doctype html>
<html lang="en">
<script src=../resources/js/home.js></script>
<!-- <script src=../resources/js/weatherApi.js></script> -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Landing Page</title>
  <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon' />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="../resources/css/home.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand"><img src="../resources/img/lumilogo.png" width=75 height=auto></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home.html">Home</a>
        </li>
        <li class="nav-item"> <a class="nav-link" href="profile.html">Profile<span class="sr-only">(current)</span>
          </a>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About Us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="maptest.html">Map<span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <li class="nav-item"><a class="my-2 my-sm-0" href="registration.html">Login/Registration</a> </li>
      </div>
    </div>
  </nav>

</head>

<body onload="mapLoad();">
  <div class="container">
    <div class="jumbotron" style="background-color:lightcyan">
      <h2>Welcome to LUMI</h2>
      <p>This site is used to show the current weather and snow conditions of various areas of Colorado.</p>
      <h4 style="font-family:Papyrus">Showing the path to Snow</h4>
      <hr class="my-1">
    </div>
    <hr class="my-4">
    <div class="card-deck">
      <div class="card">
        <div class="card-header mfs">
          <h5>Most Fresh Snow</h5>
        </div>
        <img src="../resources/img/ski.jpg" class="card-img-top" alt="Location w most fresh snow">
        <div class="card-body">
          <p class="card-text">Keystone</p>
          <div id="fresh-snow">
            <p><img id="fresh-snow-icon" src="" alt="Getting weather icon..."><span id="fresh-snow-temp">25</span><span id="fresh-snow_unit">&#x2109</span></p>
        </div>
          <div id="fresh-snow-val">
            <p><span">Humidity: </span><span id="fresh-snow-humidity">60</span><span id="fresh-snow-unit">%</span></p>
          </div>
          <div id="fresh-snow-speed-val">
            <p><span>Wind Speed: </span><span id="fresh-snow-speed">60</span><span id="fresh-snow-unit"> mph</span></p>
          </div>
          <div id="fresh-snow-expect">
            <p><span id="fresh-snow-expected">No</span><span> inches expected</span><br><span></span></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header mfs">
          <h5>Most Famous Ski Resort Reprt</h5>
        </div>
        <img src="../resources/img/breck.jpg" class="card-img-top" alt="Image of SKI RESORT">
        <div class="card-body">
          <p class="card-text">Breckenridge</p>
          <div id="temp">
            <p><img id="temp-icon" src="" alt="Getting weather icon..."><span id="temp-value">25</span><span id="temp-unit">&#x2109</span></p>
        </div>
          <div id="humidity-val">
            <p><span">Humidity: </span><span id="humidity">60</span><span id="humidity-unit">%</span></p>
          </div>
          <div id="wind-speed-val">
            <p><span>Wind Speed: </span><span id="wind-speed">60</span><span id="windSpeed-unit"> mph</span></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header mfs">
          <h5>Recent News</h5>
        </div>
        <img src="../resources/img/snowboard.jpg" class="card-img-top" alt="Image of SKI RESORT">
        <div class="card-body">
          <p class="card-text"></p>
          <div id="temp">
            <h4><span id="news-headline">Colorado's ski train to Winter Park returns for 2022 season</span></h4><h4<br><br><br><br><span><a id="news-url" href="https://www.axios.com/local/denver/2021/11/10/colorados-amtrak-ski-train-winter-park-returns-2022" target="_blank">Link to Article</a></span></h4>
        </div>
      </div>
    </div>
    <hr class="my-4">

    <div class="table-responsive">
      <table style="background-color:#D1FEFF" class="table table-bordered table-hover table-striped" id="weather-table">
        <thead>
          <tr>
            <th class="align-bottom tablehead" id="Location_h">Location</th>
            <th class="align-bottom tablehead" id="Current Weather_h">Current Weather</th>
            <th class="align-bottom tablehead" id="Snow Pack_h">Snow expected in next hour (in) </th>
          </tr>
        </thead>
        <tbody>
           <!-- Row 1: Breckenridge -->
           <tr>
            <td class="tableOff"><span id="Breckenridge"></span>Breckenridge</td>
            <td><img id="Breck-icon" src="" alt="Getting weather icon..."><span id="Breck-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="Breck-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="Breck-windSpeed">69</span> mph</td> 
            <td><span id="Breck-snow">0</span></td>
          </tr>
          <!-- Row 2: Vail -->
          <tr>
            <td class="tableOn"><span id="Vail"></span>Vail</td>
            <td><img id="Vail-icon" src="" alt="Getting weather icon..."><span id="Vail-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="Vail-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="Vail-windSpeed">69</span> mph</td> 
            <td><span id="Vail-snow">0</span></td>
          </tr>
          <!-- Row 3: Aspen -->
          <tr>
            <td class="tableOff"><span id="Aspen"></span>Aspen Snowmass</td>
            <td><img id="Aspen-icon" src="" alt="Getting weather icon..."><span id="Aspen-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="Aspen-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="Aspen-windSpeed">69</span> mph</td> 
            <td><span id="Aspen-snow">0</span></td>
          </tr>
          <!-- Row 4: WinterPark -->
          <tr>
            <td class="tableOn"><span id="WinterPark"></span>WinterPark</td>
            <td><img id="WinterPark-icon" src="" alt="Getting weather icon..."><span id="WinterPark-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="WinterPark-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="WinterPark-windSpeed">69</span> mph</td> 
            <td><span id="WinterPark-snow">0</span></td>
          </tr>
          <!-- Row 5: Beaver Creek -->
          <tr>
            <td class="tableOff"><span id="BeaverCreek"></span>Beaver Creek</td>
            <td><img id="BeaverCreek-icon" src="" alt="Getting weather icon..."><span id="BeaverCreek-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="BeaverCreek-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="BeaverCreek-windSpeed">69</span> mph</td> 
            <td><span id="Beaver-snow">0</span></td>
          </tr>
          <!-- Row 6: Keystone -->
          <tr>
            <td class="tableOn"><span id="Keystone"></span>Keystone</td>
            <td><img id="Keystone-icon" src="" alt="Getting weather icon..."><span id="Keystone-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="Keystone-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="Keystone-windSpeed">69</span> mph</td> 
            <td><span id="Keystone-snow">0</span></td>
          </tr>
          <!-- Row 7: Steamboat -->
          <tr>
            <td class="tableOff"><span id="Steamboat"></span>Steamboat Springs</td>
            <td><img id="Steamboat-icon" src="" alt="Getting weather icon..."><span id="Steamboat-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="Steamboat-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="Steamboat-windSpeed">69</span> mph</td> 
            <td><span id="Steamboat-snow">0</span></td>
          </tr>
          <!-- Row 8: Telluride -->
          <tr>
            <td class="tableOn"><span id="Telluride"></span>Telluride</td>
            <td><img id="Telluride-icon" src="" alt="Getting weather icon..."><span id="Telluride-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="Telluride-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="Telluride-windSpeed">69</span> mph</td> 
            <td><span id="Telluride-snow">0</span></td>
          </tr>
          <!-- Row 9: Copper Mountain -->
          <tr>
            <td class="tableOff"><span id="CopperMountain"></span>Copper Mountain</td>
            <td><img id="Copper-icon" src="" alt="Getting weather icon..."><span id="Copper-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="Copper-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="Copper-windSpeed">69</span> mph</td> 
            <td><span id="Copper-snow">0</span></td>
          </tr>
          <!-- Row 10: Araphaoe Basin -->
          <tr>
            <td class="tableOn"><span id="AraphaoeBasin"></span>Araphaoe Basin</td>
            <td><img id="Araphaoe-icon" src="" alt="Getting weather icon..."><span id="Araphaoe-weather">20</span><span>&#x2109</span><br>
            <span>Humidity: </span><span id="Araphaoe-humidity">30</span><span>%</span><br><span>Wind Speed: </span><span id="Araphaoe-windSpeed">69</span> mph</td> 
            <td><span id="Araphaoe-snow">0</span></td>
          </tr>
        </tbody>
      </table>
              <div class="container" id="map_preview">
        <style>
          #map { position: relative; height: 600px; width:inherit; border-radius: 10px;}
        </style>
                <div id="map"></div>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoidGhvci1pdW0iLCJhIjoiY2t2YjlzczVnMGM0YTJvcDYzNnh4Y2JpMiJ9.oTGrySoL8crymz2O8-usUQ';
          const map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/thor-ium/ckvc5s3b90jxg14lqeihf1r6i',
          center: [-105.414767, 39.022141],
          zoom: 6.46
          });
          map.addControl(new mapboxgl.NavigationControl());
          map.on('load', () => {
            map.addSource('places', {
            // This GeoJSON contains features that include an "icon"
            // property. The value of the "icon" property corresponds
            // to an image in the Mapbox Streets style's sprite.
            'type': 'geojson',
            'data': {
            'type': 'FeatureCollection',
            'features': [
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Breckenridge Ski Resort</strong><p><a href="https://www.breckenridge.com/" target="_blank" title="Opens in a new window">Breckenrdige ski Resort</a> is an alpine ski resort in the western United States, in Breckenridge, Colorado. Just west of the Continental Divide in Summit County, it is perennially one of the most visited ski resorts in the western hemisphere. <i>Source: Wikipedia</i> </p><a href="https://www.epicpass.com/"><img src="../resources/img/map/epic.png" alt="Epic Pass Logo" width="100" height="60"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.077, 39.478]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Copper Mountain</strong><p><a href="https://www.coppercolorado.com/" target="_blank" title="Opens in a new window">Copper Mountain</a> is a mountain and ski resort located in Summit County, Colorado, about 75 miles (120 km) west of Denver on Interstate 70. The resort has 2,465 acres (3.9 sq mi; 10.0 km2) of in-bounds terrain under lease from the U.S. Forest Service, White River National Forest, Dillon Ranger District. <i>Source: Wikipedia</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.164, 39.483]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Keystone Resort</strong><p><a href="https://www.keystoneresort.com/" target="_blank" title="Opens in a new window">Keystone Resort</a> is a ski resort located in Keystone, Colorado, United States. Since 1997 the resort has been owned and operated by Vail Resorts. It consists of three mountains – Dercum Mountain, North Peak, the Outback – and five Bowls offering skiing at all levels. <i>Source: Wikipedia</i> </p><a href="https://www.epicpass.com/"><img src="../resources/img/map/epic.png" alt="Epic Pass Logo" width="100" height="60"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-105.953, 39.603]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Arapahoe Basin</strong><p><a href="https://www.arapahoebasin.com/" target="_blank" title="Opens in a new window">Arapahoe Basin</a> often shortened to A-Basin, or simply The Basin is an alpine ski area in the Rocky Mountains of the United States, in the Arapaho National Forest of Colorado. <i>Source: Wikipedia</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-105.871, 39.634]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Loveland Ski Area</strong><p><a href="https://skiloveland.com/" target="_blank" title="Opens in a new window">Loveland Ski Area</a> is a ski area in the western United States, located near the town of Georgetown, Colorado. Located at the eastern portal of the Eisenhower Tunnel, Loveland is within the Arapahoe National Forest. <i>Source: Wikipedia</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-105.898, 39.680]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Winter Park Resort</strong><p><a href="https://www.winterparkresort.com/" target="_blank" title="Opens in a new window">Winter Park Resort</a> is an alpine ski resort in the western United States, in the Rocky Mountains of Colorado at Winter Park. Located in Grand County just off U.S. Highway 40, the resort is about a ninety-minute drive from Denver. <i>Source: Wikipedia</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-105.777, 39.865]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Eldora Mountain Resort</strong><p><a href="https://www.eldora.com/" target="_blank" title="Opens in a new window">Eldora Mountain Resort</a> is a ski area in the southwest corner of Boulder County, Colorado, near the unincorporated community of Eldora and 3 miles west of the town of Nederland. <i>Source: Wikipedia</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-105.583, 39.936]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Steamboat Ski Resort</strong><p><a href="https://www.steamboat.com/" target="_blank" title="Opens in a new window">Steamboat Ski Resort</a> is a major ski area in the western United States, located in northwestern Colorado at Steamboat Springs. Operated by the Steamboat Ski & Resort Corporation, it is located on Mount Werner, a mountain in the Park Range in the Routt National Forest. <i>Source: Wikipedia</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.765, 40.453]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Howelsen Hill Ski Area</strong><p><a href="https://steamboatsprings.net/131/Howelsen-Hill-Ski-Area" target="_blank" title="Opens in a new window">Howelsen Hill Ski Area</a>  is a small ski area located on Howelsen Hill in Steamboat Springs, Colorado. It is not a typical alpine ski area, as it includes a series of ski jumps, the largest with HS127. <i>Source: Wikipedia</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.838, 40.483]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Beaver Creek Resort</strong><p><a href="https://www.beavercreek.com/" target="_blank" title="Opens in a new window">Beaver Creek Resort</a>  is a major ski resort in the western United States, near Avon, Colorado. The resort comprises three villages, the main Beaver Creek Village, Bachelor Gulch, and Arrowhead to the west. <i>Source: Wikipedia</i> </p><a href="https://www.epicpass.com/"><img src="../resources/img/map/epic.png" alt="Epic Pass Logo" width="100" height="60"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.532, 39.604]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Ski Cooper</strong><p><a href="https://www.skicooper.com/" target="_blank" title="Opens in a new window">Ski Cooper</a> is an alpine ski resort in Colorado, one of the oldest in the state. Opened as Cooper Hill Ski Area 79 years ago in 1942, the ski area served as the training site for the 10th Mountain Division, based at nearby Camp Hale during World War II. <i>Source: Wikipedia</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.298, 39.356]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Aspen Snowmass</strong><p><a href="https://www.aspensnowmass.com/" target="_blank" title="Opens in a new window">Aspen Snowmass</a> is a ski resort located in the town of Snowmass Village near Aspen, Colorado. The ski area is owned and operated by the Aspen Skiing Company as part of the Aspen/Snowmass complex. It was opened on December 17, 1967 . Snowmass is the largest of the four Aspen/Snowmass mountains, comprising 3,362 acres. <i>Source: Wikipedia</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.953, 39.190]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Aspen Ajax</strong><p><a href="https://www.aspensnowmass.com/four-mountains/aspen-mountain" target="_blank" title="Opens in a new window">Aspen Ajax</a> offers quad-burning groomers and steep, gladed runs all leading to the heart of Aspen—where local and global culture merge in unexpected ways and the après scene is always on. <i>Source: aspensnowmass.com</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.822, 39.170]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Aspen Highlands Ski Resort</strong><p><a href="https://www.aspensnowmass.com/four-mountains/aspen-highlands" target="_blank" title="Opens in a new window">Aspen Highlands </a> is a place to push hard and play hard, whether you’re carving new lines on expert terrain, hiking the Bowl, or reaching new heights of revelry at Cloud Nine.<i>Source: aspensnowmass.com</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.862, 39.170]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Buttermilk Ski Resort</strong><p><a href="https://www.aspensnowmass.com/four-mountains/buttermilk" target="_blank" title="Opens in a new window">Buttermilk Ski Resort </a> is the perfect playground for kids and kids at heart to learn the basics, master the terrain park, skin uphill, or watch the world’s best freestylers in the X Games. All are welcome, all winter long.<i>Source: aspensnowmass.com</i> </p><a href="https://www.ikonpass.com/"><img src="../resources/img/map/Ikon.png" alt="Ikon Pass Logo" width="100" height="46.133"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.866, 39.196]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Crested Butte Ski Resort</strong><p><a href="https://www.skicb.com/" target="_blank" title="Opens in a new window">Crested Butte Mountain Resort </a> opened in 1960 when two men—Fred Rice and Dick Eflin—purchased a ranch on Mt. Crested Butte.[1] An operating permit enabling the resort to be built was approved by the United States Forest Service the following year.<i>Source: Wikipedia</i> </p><a href="https://www.epicpass.com/"><img src="../resources/img/map/epic.png" alt="Epic Pass Logo" width="100" height="60"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.946, 38.894]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Monarch Mountain</strong><p><a href="https://www.skimonarch.com/" target="_blank" title="Opens in a new window">Monarch Ski and Snowboard Area </a>  is a ski resort located in the state of Colorado. It is twenty miles west of Salida, Colorado, on U.S. Highway 50. The resort is situated on Monarch Pass at the continental divide. It has 54 trails, two terrain parks, and an extreme terrain area called Mirkwood. <i>Source: Wikipedia</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.336, 38.511]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Wolf Creek Ski Area</strong><p><a href="https://wolfcreekski.com/" target="_blank" title="Opens in a new window">Wolf Creek Ski Area</a>  is a ski area in southwest Colorado, located on the Wolf Creek Pass between Pagosa Springs and South Fork. It is best known for receiving more average annual snowfall than any other resort in Colorado, at about 430 inches per year. <i>Source: Wikipedia</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.792, 37.466]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Purgatory Resort</strong><p><a href="https://www.purgatory.ski/" target="_blank" title="Opens in a new window">Purgatory Resort</a>  is a ski resort located in the San Juan Mountains of Southwest Colorado, 25 miles (42 km) north of the town of Durango. Established in 1965, Purgatory offers 105 trails, including 5 terrain parks, over 1,500 skiable acres, and 12 lifts, including one six-person and two high speed quad lift. <i>Source: Wikipedia</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-107.837, 37.626]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Silverton Mountain Ski Area</strong><p><a href="https://silvertonmountain.com/" target="_blank" title="Opens in a new window">Silverton Mountain Ski Area</a>  is a ski area near Silverton, Colorado USA that opened on January 19, 2002. Popular with skiers and snowboarders, Silverton Mountain has one chairlift that carries visitors into its terrain, which is for advanced and expert skiers or riders. <i>Source: Wikipedia</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-107.657, 37.876]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Telluride Ski Resort</strong><p><a href="https://tellurideskiresort.com/" target="_blank" title="Opens in a new window">Telluride Ski Resort</a>  is a ski resort located in Mountain Village, Colorado right next to the Town of Telluride. The Telluride Ski Resort is a year-round destination located in the southwest corner of Colorado. <i>Source: Wikipedia</i> </p><a href="https://www.epicpass.com/"><img src="../resources/img/map/epic.png" alt="Epic Pass Logo" width="100" height="60"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-107.841, 37.920]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Powderhorn Mountain Resort</strong><p><a href="https://www.powderhorn.com/" target="_blank" title="Opens in a new window">Powderhorn Mountain Resort</a> is one of the most family-friendly resorts you’ll find anywhere in the West. Tucked alongside the northern edge of Western Colorados beautiful Grand Mesa – the world’s largest flattop mountain – we offer breathtaking views and over 1,600 acres of mountain terrain. <i>Source: Podwerhorn.com</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-108.152, 39.064]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Sunlight Mountain Resort</strong><p><a href="https://sunlightmtn.com/" target="_blank" title="Opens in a new window">Sunlight Mountain Resort</a> caters to local skiers and large groups. The area has three chairlifts and a vertical drop exceeding 2,000 feet (610 m). Operations began in December 1966 with one chairlift and a second was added in 1973 <i>Source: Wikipedia</i> </p>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-107.341, 39.395]
            }
            },
            {
            'type': 'Feature',
            'properties': {
            'description':
            '<strong>Vail Ski Resort</strong><p><a href="https://www.vail.com/" target="_blank" title="Opens in a new window">Vail Resort</a> is a major ski area in the western United States, located in northwestern Colorado at Steamboat Springs. Operated by the Steamboat Ski & Resort Corporation, it is located on Mount Werner, a mountain in the Park Range in the Routt National Forest. <i>Source: Wikipedia</i> </p><a href="https://www.epicpass.com/"><img src="../resources/img/map/epic.png" alt="Epic Pass Logo" width="100" height="60"></a>',
            'icon': 'skiing'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [-106.356, 39.605]
            }
            }
            ]
            }
            });
            // Add a layer showing the places.
            map.addLayer({
            'id': 'places',
            'type': 'symbol',
            'source': 'places',
            'layout': {
            'icon-image': '{icon}',
            'icon-allow-overlap': true
            }
            });
            // When a click event occurs on a feature in the places layer, open a popup at the
            // location of the feature, with description HTML from its properties.
            map.on('click', 'places', (e) => {
            // Copy coordinates array.
            const coordinates = e.features[0].geometry.coordinates.slice();
            const description = e.features[0].properties.description;
            
            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }
            
            new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(map);
            });
            
            // Change the cursor to a pointer when the mouse is over the places layer.
            map.on('mouseenter', 'places', () => {
            map.getCanvas().style.cursor = 'pointer';
            });
            
            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'places', () => {
            map.getCanvas().style.cursor = '';
            });
          });
        </script>
      </div>
      <button type="button" onclick="toggleTable();" class="btn btn-info">Toggle table/map</button>
    </div>
    <footer class="footer">&copy; Copyright CSCI-3308 MacroHard Fall 2021</footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
