<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand"><img src="../resources/img/lumilogo.png" width=75 height=auto></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item"> <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span>
          </a>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maptest">Map<span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <li class="nav-item"><a class="my-2 my-sm-0" href="/registration">Login/Registration</a> </li>
      </div>
    </div>
  </nav>
